<p-table scrollHeight="95%" [columns]="columns" [value]="instances" selectionMode="single"
         [(selection)]="selectedInstance"
         (onRowSelect)="select($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
        <ng-template #nested_object_content>
          {{rowData[col.field][col.subfield]}}
        </ng-template>
        <ng-template #normal_content>
          {{rowData[col.field]}}
        </ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="add()" label="Nueva Instancia"></button>
    </div>
  </ng-template>
</p-table>
<p-dialog header="Detalles de Instancia" [(visible)]="displayDialog" [maximizable]="true" [closeOnEscape]="true"
          (onHide)="close()" [responsive]="true" [modal]="false"
          [width]="'800'" [contentStyle]="{'overflow': 'hidden'}">
  <div class="ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="instance">
    <form [formGroup]="formInstance" (ngSubmit)="save()">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Titulo *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="titulo" [(ngModel)]="instance.nombre"
                 placeholder="Requerido">
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="!controlI['titulo'].valid&&controlI['titulo'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="controlI['titulo'].errors['required']">Título es requerido</span>
            <span *ngIf="controlI['titulo'].errors['pattern']">Caracteres ilegales</span>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Categoría *:
        </div>
        <div class="ui-grid-col-6">
          <p-selectButton [options]="types" [formControlName]="'instanciaTipo'" [(ngModel)]="instance.instanciaTipo">
            <ng-template let-item>
              <div class="nivel-item">
                <span>{{item.descripcion}}</span>
              </div>
            </ng-template>
          </p-selectButton>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="!controlI['instanciaTipo'].valid&&controlI['instanciaTipo'].dirty">
            <i class="fa fa-close"></i>
            Categoría es requerida
          </div>
        </div>
      </div>
      <hr>
      <p-pickList [source]="source" [target]="instance.areaProcesos"
                  sourceHeader="Disponible"
                  targetHeader="Seleccionado"
                  filterBy="nombre,descripcion"
                  [responsive]="true" [dragdrop]="true" dragdropScope="cars" sourceFilterPlaceholder="Búsqueda"
                  targetFilterPlaceholder="Búsqueda" [sourceStyle]="{'height':'250px'}"
                  [targetStyle]="{'height':'250px'}" (onMoveToSource)="formInstance.markAsTouched()"
                  (onMoveToTarget)="formInstance.markAsTouched()">
        <ng-template let-area pTemplate="item">
          <div class="ui-helper-clearfix">
            {{area.nombre}} : {{area.descripcion}}
          </div>
        </ng-template>
      </p-pickList>
    </form>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="!new" type="button" pButton icon="fa fa-close" (click)="delete()" label="Eliminar"
              class="ui-button-danger"></button>
      <button [disabled]="formInstance.invalid || formInstance.untouched" type="button" pButton icon="fa fa-check"
              (click)="save()" label="Guardar" class="ui-button-success"></button>
    </div>
  </p-footer>
</p-dialog>
