<div class="before">
  <div class="navbar">
    <div class="navbar-content">
      <img class="logo" alt="appraisal logo" src="../../assets/appraisal.png">
      <img class="cmmi" alt="cmmi logo" src="https://cmmiwebstorage.blob.core.windows.net/patterns/cmmi.svg">
      <nav>
        <ul>
          <li>
            <div class="navbar-item">
              <a routerLink="/dashboard">Dashboard</a>
            </div>
          </li>
          <li>
            <div class="navbar-item">
              <a>Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="after"></div>
</div>
