.file {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640px) {
  .ui-fileupload-files td{
    display: inline-block;
  }

  .ui-fileupload-buttonbar .ui-button{
    padding: 19px 30px 19px 30px !important
  }

  .ui-fileupload-buttonbar .ui-button .ui-button-text {
    display: none;
  }

  .ui-fileupload-buttonbar .ui-button .ui-icon{
    margin-left: 15px !important;
  }
}
