<div class="ui-g ui-g-nopad">
  <div class="ui-g-12 ui-g-nopad">
    <p-table [columns]="cols" [value]="links" scrollHeight="300px" [scrollable]="true" [responsive]="true">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn>
            {{col.header}}
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <p-overlayPanel #p [style]="{'max-width': '90%', 'word-break': 'break-all'}" [showCloseIcon]="false"
                            [dismissable]="true" appendTo="body">
              {{rowData[col.field]}}
            </p-overlayPanel>
            <ng-container *ngIf="col.field == 'date'; then date else second"></ng-container>
            <ng-template #second>
              <ng-container *ngIf="rowData['file']; then file else link"></ng-container>
            </ng-template>
            <ng-template #file>
              <span class="ui-column-title">{{col.header}}</span>
              <div class="ui-g ui-g-nopad">
                <div class="ui-g-12 ui-md-1 ui-g-nopad">
                  <i (mouseleave)="p.hide()" (mouseenter)="p.show($event)" style="margin-right: 5px"
                     pTooltip="Archivo" tooltipPosition="top"
                     class="fa fa-file-archive-o"></i>
                </div>
                <div class="ui-g-12 ui-md-11 ui-g-nopad">
                  <a style="text-decoration: underline; cursor: pointer" (click)="download(rowData)">{{rowData[col.field]}}</a>
                </div>
              </div>
            </ng-template>
            <ng-template #link>
              <span class="ui-column-title">{{col.header}}</span>
              <div class="ui-g-12 ui-md-1 ui-g-nopad">
                <i (mouseleave)="p.hide()" (mouseenter)="p.show($event)" style="margin-right: 5px"
                   pTooltip="Link" tooltipPosition="top"
                   class="fa fa-link"></i>
              </div>
              <div class="ui-g-12 ui-md-11 ui-g-nopad">
                <a target="_blank" href="{{rowData[col.field]}}">{{rowData[col.field]}}</a>
              </div>
            </ng-template>
            <ng-template #date>
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field] | date : "MMMM dd yyy, h:mm:ss a"}}
            </ng-template>
          </td>
          <td>
            <button pButton (click)="delete(rowData)" type="button" icon="fa fa-unlink"
                    pTooltip="Eliminar" tooltipPosition="top" class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existen {{links.length}} evidencias
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12 ui-g-nopad" style="padding-top: 15px; background: #f6f6f6">
    <p-card [style]="{'height': '100%'}">
      <div *ngIf="!activeLink">
        <div class="ui-g-nopad" *ngIf="!activeFile" style="padding-bottom: 2px">
          <button pButton (click)="activeLink = false;activeFile = true;" type="button" icon="fa fa-file-archive-o"
                  label="Introduce un archivo"></button>
        </div>
        <div class="ui-g" *ngIf="activeFile">
          <div class="ui-g-12">
            <p-fileUpload #fileSelect mode="basic" chooseLabel="Selecciona un archivo" [showUploadButton]="false"
                          [customUpload]="true" (uploadHandler)="fileSelect.clear()"
                          (onSelect)="file = fileSelect.files[0]"
                          [maxFileSize]="1000000 * 10"></p-fileUpload>
          </div>
        </div>
      </div>
      <div *ngIf="!activeFile">
        <div class="ui-g-nopad" *ngIf="!activeLink" style="padding-top: 2px">
          <button pButton (click)="activeLink = true;activeFile = false;" type="button" icon="fa fa-link"
                  label="Introduce un hipervinculo"></button>
        </div>
        <div class="ui-g" *ngIf="activeLink">
          <div class="ui-g-12">
            <form [formGroup]="formHiperlink" (ngSubmit)="uploadHyperlink()">
              <input #link type="text" formControlName="hiperlink" placeholder="hipervinculo" pInputText>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="activeLink || activeFile" class="ui-g ui-g-nopad">
        <div class="ui-g-10">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="!controlH['hiperlink'].valid&&controlH['hiperlink'].dirty">
            <i class="fa fa-close"></i>
            <span *ngIf="controlH['hiperlink'].errors['required']">Hivervínculo es requerido</span>
            <span *ngIf="controlH['hiperlink'].errors['pattern']">Este hivervínculo no es válido</span>
          </div>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="activeFile && !progress">
            <i class="fa fa-close"></i>
            <span>Seleccione un archivo de un tamaño no mayor a 10MB</span>
          </div>
          <p-progressBar *ngIf="progress" [value]="progress"></p-progressBar>
        </div>
        <div class="ui-g-12 ui-md-1">
          <button pButton [disabled]="progress" (click)="activeFile ? uploadFile() : uploadHyperlink()" type="button"
                  class="ui-button-success" pTooltip="Subir" tooltipPosition="top"
                  icon="fa fa-upload"></button>
        </div>
        <div class="ui-g-12 ui-md-1">
          <button pButton (click)="cancel();fileSelect.clear();" type="button" class="ui-button-danger"
                  pTooltip="Cancelar" tooltipPosition="top" icon="fa fa-close"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
