<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <p-table [columns]="cols" [value]="links" scrollHeight="300px" [scrollable]="true" [responsive]="true">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn>
            {{col.header}}
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <p-overlayPanel #p [style]="{'width': '50%', 'word-break': 'break-all'}" [showCloseIcon]="false"
                            [dismissable]="true" appendTo="body">
              {{rowData[col.field]}}
            </p-overlayPanel>
            <ng-container *ngIf="col.field == 'date'; then date else second"></ng-container>
            <ng-template #second>
              <ng-container *ngIf="rowData['file']; then file else link"></ng-container>
            </ng-template>
            <ng-template #file>
              <span class="ui-column-title">{{col.header}}</span>
              <div class="ui-g ui-g-nopad">
                <div class="ui-g-12 ui-md-1 ui-g-nopad">
                  <i (mouseleave)="p.hide()" (mouseenter)="p.show($event)" style="margin-right: 5px"
                     pTooltip="Archivo" tooltipPosition="top"
                     class="fa fa-file-archive-o"></i>
                </div>
                <div class="ui-g-12 ui-md-11 ui-g-nopad">
                  <a style="text-decoration: underline; cursor: pointer" (click)="download(rowData)">{{rowData[col.field]}}</a>
                </div>
              </div>
            </ng-template>
            <ng-template #link>
              <span class="ui-column-title">{{col.header}}</span>
              <div class="ui-g-12 ui-md-1 ui-g-nopad">
                <i (mouseleave)="p.hide()" (mouseenter)="p.show($event)" style="margin-right: 5px"
                   pTooltip="Link" tooltipPosition="top"
                   class="fa fa-link"></i>
              </div>
              <div class="ui-g-12 ui-md-11 ui-g-nopad">
                <a target="_blank" href="{{rowData[col.field]}}">{{rowData[col.field]}}</a>
              </div>
            </ng-template>
            <ng-template #date>
              <span class="ui-column-title">{{col.header}}</span>
              {{rowData[col.field] | date : "MMMM dd yyy, h:mm:ss a"}}
            </ng-template>
          </td>
          <td>
            <button pButton (click)="delete(rowData)" type="button" icon="fa fa-unlink"
                    class="ui-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Existen {{links.length}} artefactos en esta evidencia
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <div *ngIf="!activeLink" [ngClass]="!activeFile ? 'ui-g-6' : 'ui-g-12'">
      <div class="ui-g-nopad" *ngIf="!activeFile">
        <button pButton (click)="activeLink = false;activeFile = true;" type="button" icon="fa fa-external-link"
                label="Introduce un archivo"></button>
      </div>
      <div class="ui-g" *ngIf="activeFile">
        <div class="ui-g-12 ui-md-10" style="overflow: hidden">
          <p-fileUpload #file mode="basic" chooseLabel="Selecciona un archivo" [showUploadButton]="false"
                        [customUpload]="true"
                        (uploadHandler)="uploadFile($event)" [maxFileSize]="1000000 * 10"></p-fileUpload>
        </div>
        <div class="ui-g-12 ui-md-2 ui-g-nopad">
          <div class="ui-g-12 ui-md-6">
            <button pButton (click)="file.upload();file.clear()" type="button"
                    class="ui-button-success"
                    icon="fa fa-upload"></button>
          </div>
          <div class="ui-g-12 ui-md-6">
            <button pButton (click)="activeLink = false;activeFile = false;file.clear()" type="button"
                    class="ui-button-danger"
                    icon="fa fa-close"></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!activeFile" [ngClass]="!activeLink ? 'ui-g-6' : 'ui-g-12'">
      <div class="ui-g-nopad" *ngIf="!activeLink">
        <button pButton (click)="activeLink = true;activeFile = false;" type="button" icon="fa fa-external-link"
                label="Introduce un hipervinculo"></button>
      </div>
      <div class="ui-g" *ngIf="activeLink">
        <div class="ui-g-12 ui-md-10">
          <form [formGroup]="formHiperlink" (ngSubmit)="uploadHiperlinK()">
            <input #link type="text" formControlName="hiperlink" placeholder="hipervinculo" pInputText>
          </form>
        </div>
        <div class="ui-g-12 ui-md-2 ui-g-nopad">
          <div class="ui-g-12 ui-md-6">
            <button pButton type="button" (click)="uploadHiperlinK()" icon="fa fa-upload"
                    class="ui-button-success"></button>
          </div>
          <div class="ui-g-12 ui-md-6">
            <button pButton (click)="activeLink = false;activeFile = false;" type="button" class="ui-button-danger"
                    icon="fa fa-close"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
