<div class="outer">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-3 full-height">
      <div class="ui-g-12">
        <div class="ui-g-12 header">
          <div class="text-center">ORGANIZACIONES</div>
        </div>
      </div>
      <div class="ui-g-12 container">
        <p-dataScroller [value]="users" [rows]="10" [inline]="true" scrollHeight="100%"
                        [style]="{width: '100%', height: '100%'}">
          <ng-template let-user pTemplate="item">
            <div class="ui-g" pDraggable="users" (onDragStart)="drag = user" (onDragEnd)="drag = null">
              <div class="ui-g-12">
                {{user.organizacion.nombre}}
              </div>
              <div class="ui-g-12">
                <div class="ui-g">
                  <div class="ui-g-2 ui-sm-6">Nivel de CMMI:</div>
                  <div class="ui-g-10 ui-sm-6">{{user.organizacion.nivel.descripcion}}</div>
                </div>
              </div>
              <div class="ui-g-12">
                <button pButton type="button" label="Instancias" (click)="org = user.organizacion"
                        class="add-button"></button>
              </div>
            </div>
          </ng-template>
        </p-dataScroller>
        <!--<p-scrollPanel [style]="{width: '100%', height: '100%'}">
          <p-card *ngFor="let user of users" class="org-item" [title]="user.organizacion.nombre">
            {{user.organizacion.nivel.descripcion}} CMMI
          </p-card>
        </p-scrollPanel>-->
      </div>
      <div class="ui-g-12">
        <button pButton type="button" label="Nuevo" (click)="add()" class="add-button"></button>
      </div>
    </div>
    <div *ngIf="user" class="ui-g-12 ui-md-9 full-height data">
      <div class="ui-g-12">
        <div class="ui-g-12 header">
          <div class="text-center">{{organizacion.nombre}}</div>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-md-4">
          <button [disabled]="!formUser.valid" pButton type="button" icon="fa fa-fw fa-save" (click)="save()"
                  label="Guardar"
                  class="ui-button-success"></button>
          <button pButton type="button" icon="fa fa-fw fa-undo" (click)="cancel()" label="Cancelar"
                  class="ui-button-danger"></button>
        </div>
        <div *ngIf="!isNew" class="ui-g-12 ui-md-4 ui-md-offset-4 ui-rtl" dir="rtl">
          <button pButton type="button" icon="fa fa-fw fa-close" label="Eliminar" class="ui-button-danger"></button>
        </div>
      </div>
      <div class="ui-g-12 container">
        <div class="panel">
          <form [formGroup]="formUser" (ngSubmit)="save()">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">
              <div class="section">
                Organización
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Titulo *:
                </div>
                <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="titulo" [(ngModel)]="organizacion.nombre"
                         placeholder="Requerido">
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['titulo'].valid&&controlU['titulo'].dirty">
                    <i class="fa fa-close"></i>
                    Titulo es requerido
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Nivel *:
                </div>
                <div class="ui-grid-col-6">
                  <p-selectButton [formControlName]="'nivel'" [options]="niveles"
                                  [(ngModel)]="organizacion.nivel">
                    <ng-template let-item>
                      <div class="nivel-item">
                        <span>{{item.descripcion}}</span>
                      </div>
                    </ng-template>
                  </p-selectButton>
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['nivel'].valid&&controlU['nivel'].dirty">
                    <i class="fa fa-close"></i>
                    Nivel es requerido
                  </div>
                </div>
              </div>

              <div class="section">
                Usuario
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Usuario *:
                </div>
                <div class="ui-grid-col-6">
                  <input pInputText type="email" formControlName="username" [(ngModel)]="user.username"
                         placeholder="Requerido">
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['username'].valid&&controlU['username'].dirty">
                    <i class="fa fa-close"></i>
                    Usuario es requerido
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Contraseña *:
                </div>
                <div class="ui-grid-col-6">
                  <input pPassword type="password" formControlName="password" [(ngModel)]="user.password"
                         placeholder="Requerido" promptLabel="Introduce una contraseña">
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['password'].valid&&controlU['password'].dirty">
                    <i class="fa fa-close"></i>
                    Contraseña es requerida
                  </div>
                </div>
              </div>

              <div class="section">
                Persona
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Nombre *:
                </div>
                <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="nombre" [(ngModel)]="persona.nombre"
                         placeholder="Requerido">
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['nombre'].valid&&controlU['nombre'].dirty">
                    <i class="fa fa-close"></i>
                    Nombre es requerido
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Apellido Paterno *:
                </div>
                <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="apellido-p" [(ngModel)]="persona.primerApellido"
                         placeholder="Requerido">
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['apellido-p'].valid&&controlU['apellido-p'].dirty">
                    <i class="fa fa-close"></i>
                    Apellido Paterno es requerido
                  </div>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  Apellido Materno *:
                </div>
                <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="apellido-m" [(ngModel)]="persona.segundoApellido"
                         placeholder="Requerido">
                </div>
                <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all"
                       *ngIf="!controlU['apellido-m'].valid&&controlU['apellido-m'].dirty">
                    <i class="fa fa-close"></i>
                    Apellido Materno es requerido
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="org" class="ui-g-12 ui-md-9 full-height data">
      <app-instances [org]="org"></app-instances>
    </div>
    <div *ngIf="!user && !org" pDroppable="cars" (onDrop)="edit(drag)" class="ui-g-12 ui-md-9 full-height data drop">
      <img src="../../../assets/drag-drop.png">
    </div>
  </div>
</div>
