.outer {
  height: 100%;
  width: 100%;
  padding-top: 95px;
  background: url("../../../assets/circuit.png") no-repeat center;
  background-size: cover;
}

.data {
  background: #8e8e8e11;
}

.ui-g {
  height: 100%;
}

.org-item {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

.nivel-item {
  padding: .5em 1em
}

.drag {
  cursor: pointer;
}

.save-button {
  width: 25%;
  margin-right: 15px;
}

.cancel-button {
  width: 25%;
  margin-left: 15px;
}

.full-button {
  width: 100%;
}

.drop {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop img {
  height: 12em;
  width: 12em;
}

input {
  width: 50%;
}

@media screen and (max-width: 1250px) {
  .save-button {
    width: 25%;
  }

  .cancel-button {
    width: 25%;
  }
}

@media screen and (max-width: 650px) {
  .save-button {
    width: auto;
    margin-right: 10px;
  }

  .cancel-button {
    width: auto;
    margin-left: 10px;
  }
}
