.outer {
  height: 100%;
  width: 100%;
  padding-top: 95px;
  background: url("../../../assets/circuit.png") no-repeat center;
  background-size: cover;
}

.ui-g {
  height: 100%;
}

.text-center {
  text-align: center;
  color: white;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-weight: bold;
  font-size: 0.85em;
  height: 3.5em;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  background: #007dc6;
  border-radius: 5px;
}

.full-height {
  height: 100%;
  display:flex;
  flex-direction:column;
}

.container {
  flex:1;
  overflow: hidden;
}

.org-item {
  cursor: pointer;
}

.nivel-item {
  padding: .5em 1em
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  width: 25%;
  margin-right: 15px;
}

.cancel-button {
  width: 25%;
  margin-left: 15px;
}

.add-button {
  width: 100%;
}

.instances {
  margin-bottom: 15px;
}

.instances .add-button {
  margin-top: 15px;
}

.panel {
  height: 100%;
  width: 100%;
  border: black 1px;
}

.panel .section {
  padding-top: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.container p-dataScroller {
  height: 100px;
}

.data {
  background-color: #8e8e8e11;
}

.drop {
  display:flex;
  align-items:center;
  justify-content:center;
}

.drop img {
  height: 12em;
  width: 12em;
}

input {
  width: 50%;
}

@media screen and (max-width: 1250px) {
  .save-button {
    width: 25%;
  }
  .cancel-button {
    width: 25%;
  }
}

@media screen and (max-width: 650px) {
  .save-button {
    width: auto;
    margin-right: 10px;
  }
  .cancel-button {
    width: auto;
    margin-left: 10px;
  }
}
