<div class="outer">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-offset-2 ui-md-8 ui-md-offset-2">
      <p-card [title]="org.nombre" [subtitle]="org.nivel.descripcion + ' CMMI Organizacional'"
              styleClass="ui-card-shadow">
        <p-header>
          <img src="../../../../assets/home.global-leader.jpg">
        </p-header>
        <p-card>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-5">
              Resultado de la evaluación:
            </div>
            <div class="ui-g-12 ui-md-7" style="text-align: center">
              <ng-container *ngIf="evaluation.data.status == 'NO_CUMPLE'">
                <label style="color:#bb0000">No cumple</label>
              </ng-container>
              <ng-container *ngIf="evaluation.data.status == 'EN_PROGRESO'">
                <label style="color:#dbdb00">En progreso</label>
              </ng-container>
              <ng-container *ngIf="evaluation.data.status == 'SI_CUMPLE'">
                <label style="color:#00bb00">Si cumple</label>
              </ng-container>
            </div>
          </div>
        </p-card>
        <p-card>
          <p-treeTable [value]="evaluation.children" [columns]="cols">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th colspan="2">Información</th>
                <th colspan="2">Resultado</th>
              </tr>
              <tr>
                <th [style.width]="10">Nombre</th>
                <th>Descripción</th>
                <th>Status</th>
                <th>%</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
              <tr>
                <td *ngFor="let col of columns; let i = index">
                  <div *ngIf="col.field == 'status';then status else branch"></div>
                  <ng-template #status>
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <ng-container *ngIf="rowData[col.field] == 'NO_CUMPLE'">
                      <label style="color:#bb0000">No cumple</label>
                    </ng-container>
                    <ng-container *ngIf="rowData[col.field] == 'EN_PROGRESO'">
                      <label style="color:#dbdb00">En progreso</label>
                    </ng-container>
                    <ng-container *ngIf="rowData[col.field] == 'SI_CUMPLE'">
                      <label style="color:#00bb00">Si cumple</label>
                    </ng-container>
                  </ng-template>
                  <ng-template #branch>
                    <div *ngIf="col.field == 'progress';then progress else leaf"></div>
                    <ng-template #progress>
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      {{(rowData[col.field] * 100) | number:'1.0-2'}} %
                    </ng-template>
                    <ng-template #leaf>
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      {{rowData[col.field]}}
                    </ng-template>
                  </ng-template>
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </p-card>
        <p-footer>
          <button pButton type="button" label="Cerrar" icon="pi pi-times" class="ui-button-secondary"
                  (click)="close()" style="margin-right: .25em"></button>
          <button pButton type="button" label="Revaluar" icon="fa fa-undo" class="ui-button-secondary"
                  (click)="setup()"></button>
        </p-footer>
      </p-card>
    </div>
  </div>
</div>
