<div class="inner">
  <div class="content">
    <form *ngIf="!submitted" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="email" pInputText placeholder="usuario" formControlName="username">
        </div>
      </div>
      <div class="input-group">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" pInputText placeholder="contraseña" formControlName="password">
        </div>
      </div>
      <button pButton type="submit" label="Iniciar Sesión"></button>
    </form>
    <p-progressSpinner *ngIf="submitted"></p-progressSpinner>
  </div>
</div>
