<div class="inner">
  <div class="content">
    <img *ngIf="!submitted" src="../../favicon.png">
    <form *ngIf="!submitted" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="inputgroup">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="email" pInputText placeholder="email" formControlName="username">
        </div>
      </div>
      <div class="inputgroup">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" pInputText placeholder="password" formControlName="password">
        </div>
      </div>
      <div class="form-group">
        <button pButton type="submit" label="LOGIN"></button>
      </div>
    </form>
    <p-progressSpinner *ngIf="submitted"></p-progressSpinner>
  </div>
</div>
