.inner {
  background: url("../../assets/city_0.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  background: transparent;
  min-width: 200px;
  min-height: 200px;
  width: 25%;
  height: 25%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.inputgroup {
  display: table;
  margin: 0 auto;
  width: 100%;
}

img {
  margin: 5px;
  height: 75%;
}

input {
  width: 90%;
  height: 3em;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  padding: 0.5em 0.5em;
  font-weight: bold;
}

span {
  width: 10%;
}

button {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  text-transform: uppercase;
  font-size: 0.85em;
  padding: 0.5em 0.5em;
  letter-spacing: 0.25em;
  width: 80%;
  margin: 10px;
}
