.inner::before {
  background: url("../../assets/city_0.jpg") no-repeat;
  background-size: cover;
  content: '';
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  height: 101%;
  width: 101%;
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  background: #FFFFFF11;
  width: 400px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.8);
}

.content span {
  width: 20%;
}

.content form {
  width: 90%;
}

.content form::before {
  content: '';
  background: url("../../favicon.png") no-repeat;
  background-size: 100px 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.content .input-group {
  display: table;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 100%;
}

.content input {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-size: 0.85em;
  padding: 0.5em 0.5em;
  font-weight: bold;
  width: 100%;
}

.content button {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  text-transform: uppercase;
  font-size: 0.85em;
  padding: 0.5em 0.5em;
  letter-spacing: 0.25em;
  width: 100%;
}
