* {
  box-sizing: border-box;
}

body {
  margin: 0; /*Usar toda la pantalla*/
  height: 100%;
}

html {
  height: 100%;
}

.ui-accordion .ui-accordion-header a {
  text-decoration: none !important;
}

.full-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-card > .ui-card-header{
  flex: 0;
}

.full-card > .ui-card-body {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.full-card > .ui-card-body > .ui-card-content {
  flex: 1 0 100px;
  overflow: auto;
}

.full-card > .ui-card-footer {
  flex: 0;
}

.content-card > .ui-card-body > .ui-card-content {
  flex: 1 0 100px;
  overflow: hidden;
}

.box {
  height: 100%;
  overflow: auto;
}

.full-dialog > .ui-dialog-content {
  height: 100%;
}

.full-table {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-table #table {
  flex: 1 0 100px;
}

.full-table .ui-treetable {
  height: 100%;
}

.full-table .ui-treetable .ui-treetable-scrollable-body, .ui-treetable-scrollable-wrapper {
  height: 100%;
  overflow: auto;
  border-left: #d6d6d6 1px solid;
  border-right: #d6d6d6 1px solid;
  background: #f9f9f9;
}

@media screen and (max-width: 640px){
  .full-card > .ui-card-body > .ui-card-content {
    flex: 1 0 10%;
  }
  .content-card > .ui-card-body > .ui-card-content {
    flex: 1 0 100%;
  }
}
