* {
  box-sizing: border-box;
}

body {
  margin: 0; /*Usar toda la pantalla*/
  height: 100%;
}

html {
  height: 100%;
}

.ui-accordion .ui-accordion-header a { text-decoration : none !important; }
